imageio-ffmpeg
gspread
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
click
colorama
cryptography
distro
fastapi
filetype
frozenlist
google-auth
google-genai
greenlet
gTTS
h11
httpcore
httpx
idna
jsonpatch
jsonpointer
langchain
langchain-core
langchain-google-genai
langchain-ollama
langchain-tavily
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
multidict
nest-asyncio
numpy
ollama
orjson
ormsgpack
packaging
pandas
pillow
propcache
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
pypdf
python-dateutil
python-dotenv
python-multipart
PyYAML
regex
requests
requests-toolbelt
rsa
six
sniffio
SpeechRecognition
SQLAlchemy
standard-aifc
standard-chunk
starlette
tavily-python
tenacity
tiktoken
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
uvicorn
websockets
xxhash
yarl
zstandard

typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uuid_utils==0.14.1
uvicorn==0.41.0
websockets==16.0
xxhash==3.6.0
yarl==1.23.0
zstandard==0.25.0
